.budget-summary-card {
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.budget-summary-card .card-header {
  background-color: #5f5454;
  padding: 10px 20px;
}

.budget-summary-details {
  padding: 20px;
  color: #333; 
}


.budget-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 15px;
}

.budget-item.total {
  border-top: 1px solid #030303;
  padding-top: 10px;
  font-weight: bold;
}

.confirm-button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.confirm-button:hover {
  background-color: #45a049;
}