.umrah-plan-container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.umrah-plan-container h2 {
  text-align: center;
  font-size: 2rem;
  color: #4a4a4a;
}

.umrah-plan-container p {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}