/* RESET default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make sure the page takes full height */
html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  /* You can adjust it if you want */
}